.App {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    /* width: 100vw; */
    background-color: rgb(25, 78, 125);
}

.message {
    color: white;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.newGame {
    margin-top: 20px;
    background-color: rgb(55, 4, 72);
    color: white;
    font-size: 26px;
    font-family: sans-serif;
    border-radius: 15px;
    padding: 15px;
}

.newGamePng {
    height: 50px;
    width: 50px;
    background-color: inherit;
    border: 20px;
    background-image: url('./refresh.png') !important;
    background-size: cover;
    margin-top: 20px;
    margin-left: 15px;
}

.newGamePng:hover {
    cursor: pointer;
}
.wrapper {
    display: flex;
    flex-direction: row;
}
.App1 {
    display: flex;
    gap: 1rem;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .App {
        background-color: lightblue;
        height: fit-content;
        /* width: 100%; */
    }
    .App1 {
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-direction: column;
        padding-block: 2rem 5rem;
        overflow: auto;
    }
    .message {
        font-size: 23px;
        align-items: center;
        padding-left: 40px;
    }
}
